{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <main class="max-w-6xl mx-auto py-4">

        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="{{ page.get_parent.get_parent.url }}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">
                        <svg class="w-4 h-4 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/></svg>
                        {{ page.get_parent.get_parent.title }}
                    </a>
                </li>
                <li>
                    <div class="flex items-center space-x-1.5">
                        <svg class="w-3.5 h-3.5 rtl:rotate-180 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/></svg>
                        <a href="{{ page.get_parent.url }}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">
                            {{ page.get_parent.title }}
                        </a>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center space-x-1.5">
                        <svg class="w-3.5 h-3.5 rtl:rotate-180 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/></svg>
                        <span class="inline-flex items-center text-sm font-medium text-body-subtle">
                            {{ page.title }}
                        </span>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="w-full text-right mb-3 text-sm text-gray-500">
            投稿:{{ page.first_published_at|date:"Y-m-d" }}
        </div>
        <h1 class="text-3xl border-b-2 border-b-slate-900 p-2 /rounded-md">
            {{ page.title }}
        </h1>

        <div class="flex space-x-1 py-3">
            {% for tag in page.tags.all %}
                <a href="{% pageurl page.get_parent %}?tag={{ tag }}" class="block bg-gray-200 p-1 rounded-sm text-[10px]">
                    {{ tag }}
                </a>
            {% endfor %}            
        </div>


        <div class="mx-auto flex max-w-7xl gap-8">
            <main class="min-w-0 flex-1">
                <div class="no-tailwind-styles">
                    {% for block in page.content %}
                        {{ block }}
                    {% endfor %}
                </div>
            </main>
        
            <aside class="sticky top-5 self-start w-64 shrink-0">
                <div class="rounded-lg bg-gray-200 p-4">
                    <h2 class="mb-4 font-bold text-center">目次</h2>
        
                    {% for block in page.content %}
                        {% if block.block_type == "heading" %}
                            <a
                                href="#{{ block.value.size }}"
                                class="mb-2 block text-sm text-gray-600 hover:text-blue-600"
                            >
                                {{ block.value.heading_text }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </aside>
        </div>

    </main>
{% endblock %}